@model IEnumerable<AnalysisLab>
@{

    ViewData["Title"] = "Index";
}
<h1> ALL Analysis_Labs</h1>
@using (Html.BeginForm())
{
    <div class="input-group">
        @Html.TextBox("SearchByNmae", null, new { @class = "form-control", @placeholder = "search by AnalysisLab Name.." })
        <input type="submit" value="Search" class="btn btn-outline-success" />
        <a asp-action="Create" class="btn btn-outline-primary">Create New Lab </a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Analysis_Lab_ID", "Index", new { sortField = "Analysis_Lab_ID", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
            </th>

            <th>
                @Html.ActionLink("Analysis_Lab_Name", "Index", new { sortField = "Analysis_Lab_Name", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
            </th>

            <th>
                @Html.ActionLink("Analysis_Lab_Address", "Index", new { sortField = "Analysis_Lab_Address", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Analysis_Lab_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Analysis_Lab_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Analysis_Lab_Address)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Analysis_Lab_ID }, new { onclick = "return confirm ('Are you sure you want to delete this lab?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
